/* styles.css */

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}


/* about */

#about {
    background: url('img/girlincar.jpg') center center  no-repeat;    
    background-size: cover;
    }
    
.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
    }

/* footer */

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}




/* cover */

#cover {
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;   
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}


.section-content {
    padding: 5rem 0;

    
}

 /* .float-sm-right {
    position: relative;
    right: 1px;
    position: fixed;
    top: 580px;
    right: 1px;
  } */

  /* #img-1 {
    visibility: collapse;
    display: none;
    position: relative;
    left: 0px;
    position: fixed;
    scroll-padding-left: 1%;
    bottom: 0px;
    right: 9px;
    width: 3%;
    
    
    box-shadow: 1px 1px 3px 1px black;
} */

#img-2 {
    /* visibility: collapse; */
    /* display: none; */
    
    position:fixed;
    scroll-padding-left: 1%;
    bottom: 0px;
    right: 9px;
    width: 3%;
    
    /* box-shadow: 1px 1px 3px 1px black; */
}

